.pickers {
  width: 300px;
  text-align: center;
}
.react-datepicker__triangle{
  display: none;
}
.react-datepicker-popper{
  margin-top: -70px;

}

.react-datepicker__month-container{
  width: 386px;
  border: 2px solid midnightblue;
  padding-bottom:40px ;
  background-color: midnightblue;
}

.react-datepicker__day{
  padding: 8px;
  width: 40px;
  font-size: 20px;
  color: aliceblue;
}
.react-datepicker__day:hover{
  color: black;
}
.react-datepicker__day-names{
  background-color: midnightblue;
}

.react-datepicker__day-names>div{
  padding: 8px;
  width: 40px;
  color: aliceblue;
}

.react-datepicker__current-month{
  font-size: 30px;
  text-transform: uppercase;
}
.react-datepicker__navigation{
  font-size: 40px;
  padding-top: 10px;
  height: 100px;
  background-color: black;
}
.b{
  border: 1px solid red;
}
/* .fr{
    position:relative;
    top:-4px;
} */

.fr{
  display: flex;
  flex-direction: column;
  margin-left: 12.5%;
}

.row-back{
  cursor: pointer;
}

.blue{
  display: flex;
}

@media (max-width:767px) {
  .fr{
    margin: 30px 0;
    margin-left: 12.5%;
  }
  .blue{
    flex-direction: column;
  }
}



.c1{background-color: rgba(0, 255, 255, 0.3)}
.c2{background-color: rgba(0, 155, 255, 0.3)}
.c3{background-color: rgba(0, 255, 155, 0.3)}

.c4{background-color: rgba(100, 255, 255, 0.3)}
.c5{background-color: rgba(100, 155, 255, 0.3)}
.c6{background-color: rgba(100, 155, 155, 0.4)}

.c7{background-color: rgba(200, 255, 155, 0.3)}
.c8{background-color: rgba(200, 155, 255, 0.3)}
.c9{background-color: rgba(200, 255, 255, 0.3)}

.c10{background-color: rgba(50, 255, 255, 0.3)}
.c11{background-color: rgba(50, 155, 255, 0.3)}
.c12{background-color: rgba(255, 50, 84, 0.3)}

.c13{background-color: rgba(0, 0, 255, 0.3)}
.c14{background-color: rgba(0, 0, 155, 0.3)}
.c15{background-color: rgba(132, 155, 0, 0.3)}

.c16{background-color: rgba(0, 255, 0, 0.3)}
.c16{background-color: rgba(0, 155, 0, 0.3)}
.c18{background-color: rgba(0, 155, 0, 0.3)}

.c19{background-color: rgba(0, 55, 255, 0.2)}
.c20{background-color: rgba(0, 55, 155, 0.3)}
.c21{background-color: rgba(0, 55, 155, 0.3)}

.c22{background-color: rgba(50, 15, 155, 0.3)}
.c23{background-color: rgba(50, 255, 155, 0.3)}
.c24{background-color: rgba(50, 55, 155, 0.3)}

.c25{background-color: rgba(0, 0, 0, 0.3)}
.c26{background-color: rgba(255, 255, 255, 0.3)}

.c27{background-color: rgba(0, 0, 222, 0.3)}
.c29{background-color: rgba(255, 0, 255, 0.3)}

.c30{background-color: rgba(222, 0, 0, 0.3)}
.c31{background-color: rgba(255, 155, 0, 0.3)}

.c32{background-color: rgba(0, 222, 0, 0.4)}
.c33{background-color: rgba(25, 105, 205, 0.4)}

.c34{background-color: rgba(0, 0, 0, 0.1)}
.c35{background-color: rgba(255, 2, 2, 0.5)}


